/**
  * Colors
 */

 :root {
	--primary-color: rgb(46, 60, 86);
	--secondary-color: rgb(59, 88, 143);
	--text-primary-color: rgb(52, 58, 64);
}
 
/**
 * Main
 */

body {
	margin-top: 90px;
}

.bg-navbar {
	/* background-color: #343a40 !important; */
	/* background-color: rgb(20, 41, 84) !important; */
	background-color: var(--primary-color) !important;
}

a {
	color: var(--secondary-color);
}

a:hover, 
a:checked {
	color: var(--primary-color);
}

.btn-primary {
    color: #fff;
    background-color: var(--primary-color);
    border-color: var(--text-primary-color);
}

.btn-primary:hover {
    background-color: var(--secondary-color);
}

.btn-primary.active {
    background-color: var(--primary-color);
}

@font-face{
	font-family: 'aqua';
	src: 	url('aqua.woff2') format('woff2'),
			url('aqua.ttf') format('truetype'),
			url('aqua.woff') format('woff');
}

.navbar-brand{
	font-family: 'aqua', Fallback, sans-serif;
	font-size: 1.75rem;
}

/**
 * Style for view post page
 */

article > div.container > div.top-left {
    position: absolute;
    top: 10px;
	left: 25px;
	max-width:90%;
}

article > div.container > div.top-left > h1{
	font-size:2em;
	text-shadow: black 1px 1px 5px;
	color: white;
}

@media (max-width: 30em) {
	article > div.container > div.top-left > h1{
		font-size:5vw;
		max-width:80%;
	}
}

article > div.container > img {
	width:100%;
}
article > div.container {
    position: relative;
}
article > div.container > div.row{
	margin: 20px 10px 10px;
}

article > div.container > div.article-comments > h2{
	font-size:1.75em;
}

article > div.container > div.article-comments > div.article-comment{
	margin-bottom:5px;
	padding-bottom:25px !important; /*space for flag button*/
}

article > div.container > div.article-comments > div.article-comment > img{
	width:50px;
	height:50px;
}

article > div.container > div.article-comments > div.article-comment > h3{
	display:inline;
	margin-left:20px;
	vertical-align: sub;
}

article > div.container > div.article-comments > div.article-comment > p{
	margin-top:10px;
	margin-bottom:0px;
	margin-bottom:5px;
}

article > div.container > div.article-comments > div.article-comment > img{
	width:50px;
	height:50px;
}

article > div.container > div.article-comments > div.article-comment > h3{
	display:inline;
	margin-left:20px;
	vertical-align: sub;
}

article > div.container > div.article-comments > div.article-comment > p{
	margin-top:10px;
	margin-bottom:0px;
}

article > div.container > div.row:nth-child(4) > div:first-child{
	font-size:x-large;
}
article > div.container > div.row:nth-child(4) > div:first-child > button{
	outline: none;
	box-shadow:none !important;
}

article > div.container > div.article-comments > div > div.flag-comment{
	float: right;
}

article > div.container > div.row i + span{
	padding:0px 8px 0px 0px;
}

article > div.container > div.row i + span::before{
	content: "\00a0";
}

label.btn.btn-secondary {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

div.btn-group.btn-group-toggle{
	max-width: 100%;
}

/**
  * FAQ Page
 */

.container.faq #accordion .card-block{
	margin: 1em 2em 1em 2em;
	border: 0;
}

.container.faq #accordion .faqHeader {
	font-size: 27px;
	margin: 20px;
	color: #343a40;
}

.container.faq #accordion div .card-header{
	padding: 1rem;
	border: 0rem;
}

.container.faq #accordion .card {
	padding: 0rem;
	border: 0rem;
}

/**
  * Statistics Page
 */

.counter-number-group.statistic {
	margin: 1.4em 0;
	display: grid;
}

.counter.counter-md .counter-number {
	font-size: 4em;
	text-align: center;
	font-weight: bold;
}

.counter.counter-md .counter-number.text-uppercase{
	font-size: 2em;
	text-align: center;
	margin-bottom: 0.5em;
	line-height: 1em;
	display: grid;
	max-height: 11rem;
}

.counter.counter-md .counter-number.text-uppercase .fa.fa-user{
	display: grid;
	margin-top: 1rem;
	font-size: 2em;
}

.counter-label.text-uppercase {
	font-size: 1.25rem;
	display: grid;
	text-align: center;
	font-weight: bold;
	line-height: 1em;
}

.row .col-md-3 .card.card-block.p-25{
	background-color: inherit;
	border: 0;
}

/**
  * Recover Password
 */

 .container.passwordForgotten {
	width: 0 auto;
}

.panel.panel-default > .panel-body > .text-center{
	width: 0 auto;
	padding-left: 20%;
	padding-right: 20%;
}

/**
  * Post
 */

div#feed-content > div > div{
	font-size:small;
}

div#feed-content > div{
	margin-bottom:10px;
	padding:10px ;
}